# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/data

# Ignore RubyMine files.
/.idea
# Ignore Sublime Text files.
/*.sublime*
# Ignore Visual Studio Code setting folders.
/.vscode
# Ignore MacOS directory folders.
.DS_Store
